USE [master]
GO
/****** Object:  Database [Pokedex]    Script Date: 5/10/2022 11:35:18 ******/
CREATE DATABASE [Pokedex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pokedex', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pokedex.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pokedex_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pokedex_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pokedex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pokedex]
GO
/****** Object:  Table [dbo].[types]    Script Date: 5/10/2022 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[types](
	[english] [nvarchar](50) NULL,
	[chinese] [nvarchar](50) NULL,
	[japanese] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pokedex]    Script Date: 5/10/2022 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pokedex](
	[id] [nvarchar](50) NULL,
	[english] [nvarchar](50) NULL,
	[japanese] [nvarchar](50) NULL,
	[chinese] [nvarchar](50) NULL,
	[french] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[HP] [int] NULL,
	[Attack] [int] NULL,
	[Defense] [int] NULL,
	[SpAttack] [int] NULL,
	[SpDefense] [int] NULL,
	[Speed] [int] NULL,
	[image] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_poke]    Script Date: 5/10/2022 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_poke] AS
select p.id as 'pid',p.english, p.japanese, p.chinese, p.french, p.type, p.HP, p.Attack, p.Defense, p.SpAttack, p.SpDefense, p.Speed, p.image,t.english as 'tenglish',
t.japanese as 'tjapanese',t.chinese as 'tchinese',t.color as 'tcolor'
from pokedex p inner join types t on p.type = t.english;
GO
/****** Object:  Table [dbo].[items]    Script Date: 5/10/2022 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[japanese] [nvarchar](50) NULL,
	[english] [nvarchar](50) NULL,
	[chinese] [nvarchar](50) NULL,
	[id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moves]    Script Date: 5/10/2022 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moves](
	[id] [int] NOT NULL,
	[accuracy] [int] NULL,
	[category] [nvarchar](50) NULL,
	[cname] [nvarchar](50) NULL,
	[ename] [nvarchar](50) NULL,
	[jname] [nvarchar](50) NULL,
	[power] [int] NULL,
	[pp] [int] NULL,
	[type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[items] ([japanese], [english], [chinese], [id]) VALUES (N'マスターボール', N'Master Ball', N'大师球', 1)
INSERT [dbo].[items] ([japanese], [english], [chinese], [id]) VALUES (N'ハイパーボール', N'Ultra Ball', N'高级球', 2)
INSERT [dbo].[items] ([japanese], [english], [chinese], [id]) VALUES (N'スーパーボール', N'Great Ball', N'超级球', 3)
GO
INSERT [dbo].[moves] ([id], [accuracy], [category], [cname], [ename], [jname], [power], [pp], [type]) VALUES (1, 100, N'物理', N'拍击', N'Pound', N'はたく', 40, 35, N'Normal')
INSERT [dbo].[moves] ([id], [accuracy], [category], [cname], [ename], [jname], [power], [pp], [type]) VALUES (2, 100, N'物理', N'手刀', N'Karate Chop', N'からてチョップ', 50, 25, N'Fighting')
INSERT [dbo].[moves] ([id], [accuracy], [category], [cname], [ename], [jname], [power], [pp], [type]) VALUES (3, 85, N'物理', N'连环巴掌', N'Double Slap', N'おうふくビンタ', 15, 10, N'Normal')
GO
INSERT [dbo].[pokedex] ([id], [english], [japanese], [chinese], [french], [type], [HP], [Attack], [Defense], [SpAttack], [SpDefense], [Speed], [image]) VALUES (N'1', N'Bulbasaur', N'フシギダネ', N'妙蛙种子', N'Bulbizarre', N'Grass', 45, 49, 49, 65, 65, 45, N'https://raw.githubusercontent.com/fanzeyi/pokemon.json/master/images/001.png')
INSERT [dbo].[pokedex] ([id], [english], [japanese], [chinese], [french], [type], [HP], [Attack], [Defense], [SpAttack], [SpDefense], [Speed], [image]) VALUES (N'2', N'Ivysaur', N'フシギソウ', N'妙蛙草', N'Herbizarre', N'Grass', 60, 62, 63, 80, 80, 60, N'https://raw.githubusercontent.com/fanzeyi/pokemon.json/master/images/002.png')
INSERT [dbo].[pokedex] ([id], [english], [japanese], [chinese], [french], [type], [HP], [Attack], [Defense], [SpAttack], [SpDefense], [Speed], [image]) VALUES (N'3', N'Venusaur', N'フシギバナ', N'妙蛙花', N'Florizarre', N'Grass', 80, 82, 83, 100, 100, 80, N'https://raw.githubusercontent.com/fanzeyi/pokemon.json/master/images/003.png')
GO
INSERT [dbo].[types] ([english], [chinese], [japanese], [color]) VALUES (N'Normal', N'一般', N'ノーマル', N'#a4acaf')
INSERT [dbo].[types] ([english], [chinese], [japanese], [color]) VALUES (N'Fighting', N'格斗', N'かくとう', N'#d56723')
INSERT [dbo].[types] ([english], [chinese], [japanese], [color]) VALUES (N'Flying', N'飞行', N'ひこう', N'#3dc7ef')
GO
USE [master]
GO
